services:
  app:
    build: .
    container_name: express-app
    # Mapeia a porta 3000 do container para a porta 3000 da sua máquina
    ports:
      - "3030:3030"
    volumes:
      # Monta o código local para que as alterações se reflitam no container (Live Reload)
      - .:/usr/src/app
      # Evita que a pasta node_modules local sobrescreva a do container
      - /usr/src/app/node_modules 
    depends_on:
      - mongodb
    command: nodemon -L server.js
    environment:
      # Variável que o Express vai ler para se ligar à base de dados
      # O host deve ser 'mongodb' (ou seja, o nome do serviço)
      MONGO_URI: mongodb://mongodb:27017/projeto-db 
      PORT: 3030

  mongodb:
    image: mongo:latest
    container_name: mongodb-db-etapa2
    ports:
      # Opcional, permite aceder ao Mongo a partir do host (ex: com Mongo Compass)
      - "27017:27017" 
    volumes:
      # Garante que os dados persistem mesmo se o container for parado
      - mongo-data:/data/db

    # Opcional, reduz a verbosidade do mongodb
    command: mongod --quiet
    
volumes:
  mongo-data: